<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a.常用功能</key>
	<array>
		<dict>
			<key>class</key>
			<string>AVObjectBasic</string>
			<key>name</key>
			<string>AVObject</string>
			<key>detail</key>
			<string>基本AVObject用法, 增删改查</string>
		</dict>
		<dict>
			<key>class</key>
			<string>PointerBasic</string>
			<key>name</key>
			<string>Pointer</string>
			<key>detail</key>
			<string>一对一、一对多关系建模</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AVRelationBasic</string>
			<key>name</key>
			<string>AVRelation</string>
			<key>detail</key>
			<string>多对多关系建模</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AVUserBasic</string>
			<key>name</key>
			<string>用户</string>
			<key>detail</key>
			<string>用户的基本操作</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AVQueryBasic</string>
			<key>name</key>
			<string>查询</string>
			<key>detail</key>
			<string>AVQuery基本用法</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AVFileBasic</string>
			<key>name</key>
			<string>文件</string>
			<key>detail</key>
			<string>AVFile 基本文件操作</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AVAnalyticsBasic</string>
			<key>name</key>
			<string>统计用法</string>
			<key>detail</key>
			<string>AVAnalytics 基本文件操作</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AVSMSBasic</string>
			<key>name</key>
			<string>SMS</string>
			<key>detail</key>
			<string>短信验证码基本用法</string>
		</dict>
		<dict>
			<key>class</key>
			<string>CQLBasic</string>
			<key>name</key>
			<string>CQL</string>
			<key>detail</key>
			<string>CQL 基本用法</string>
		</dict>
		<dict>
			<key>class</key>
			<string>EngineBasic</string>
			<key>name</key>
			<string>云引擎</string>
			<key>detail</key>
			<string>云引擎与SDK交互</string>
		</dict>
		<dict>
			<key>class</key>
			<string>OtherBasic</string>
			<key>name</key>
			<string>其它</string>
			<key>detail</key>
			<string>获取服务器时间等接口</string>
		</dict>
	</array>
	<key>b.组件功能</key>
	<array>
		<dict>
			<key>class</key>
			<string>AVSearchQueryAdvanced</string>
			<key>name</key>
			<string>搜索</string>
			<key>detail</key>
			<string>AVSearchQuery基本用法</string>
		</dict>
	</array>
</dict>
</plist>
